<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
    var userName = Context.Session.GetString("UserName") ?? "User";
}
<div class="sap-dashboard">
    <div class="sap-dashboard-card">
        <h1 class="sap-dashboard-title">Welcome, @userName</h1>
        <p class="sap-dashboard-text">You are successfully logged in to the Enterprise system.</p>
    </div>
</div>-->


@{
    ViewData["Title"] = "Dashboard";
}

@*<div class="main-container">

    <div class="card-container">

        <a asp-controller="Sales" asp-action="Index" class="card-box">
            <h4>Sales</h4>
        </a>

        <a asp-controller="Purchase" asp-action="Index" class="card-box">
            <h4>Purchase</h4>
        </a>

        <a asp-controller="BusinessPartner" asp-action="Index" class="card-box">
            <h4>Business Partner</h4>
        </a>

        <a asp-controller="Banking" asp-action="Index" class="card-box">
            <h4>Banking</h4>
        </a>

        <a asp-controller="Administration" asp-action="Index" class="card-box">
            <h4>Administration</h4>
        </a>

    </div>

</div>
*@