@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sales A/R";
}
<div class="container py-3">
    <h2 class="mb-3">Sales Module</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-action="BlanketAgreement">Sales Blanket Agreement</a>
                <a class="list-group-item list-group-item-action" asp-action="Quotations">Sales Quotation</a>
                <a class="list-group-item list-group-item-action" asp-action="Orders">Sales Order</a>
                <a class="list-group-item list-group-item-action" asp-action="Delivery">Delivery</a>
                <a class="list-group-item list-group-item-action" asp-action="ReturnRequest">Return Request</a>
                <a class="list-group-item list-group-item-action" asp-action="Return">Return</a>
                <a class="list-group-item list-group-item-action" asp-action="ARDownPaymentRequest">A/R Down Payment Request</a>
                <a class="list-group-item list-group-item-action" asp-action="ARDownPaymentInvoice">A/R Down Payment Invoice</a>
                <a class="list-group-item list-group-item-action" asp-action="ARInvoices">A/R Invoice</a>
                <a class="list-group-item list-group-item-action" asp-action="ARInvoicePayment">A/R Invoice + Payment</a>
                <a class="list-group-item list-group-item-action" asp-action="ARCreditMemo">A/R Credit Memo</a>
                <a class="list-group-item list-group-item-action" asp-action="DocumentGenerationWizard">Document Generation Wizard</a>
                <a class="list-group-item list-group-item-action" asp-action="RecurringTransactions">Recurring Transactions</a>
            </div>
        </div>
    </div>
</div>
